00_fastq/*.fastq.gz
*.fasta
*.fasta
./.git/lfs/objects/aa/14/aa144cfb5bfcef2cd638768204e8d4e6f90e4f720d9ec8e8ca20c7bf9e021a39
./00_fastq/1BS_R1_001.fastq.gz
./00_fastq/1BS_R2_001.fastq.gz
./00_fastq/1DS_R1_001.fastq.gz
./00_fastq/1DS_R2_001.fastq.gz
./00_fastq/2BS_R1_001.fastq.gz
./00_fastq/2BS_R2_001.fastq.gz
./00_fastq/2DS_R1_001.fastq.gz
./00_fastq/2DS_R2_001.fastq.gz
./00_fastq/3BS_R1_001.fastq.gz
./00_fastq/3BS_R2_001.fastq.gz
./00_fastq/3DS_R1_001.fastq.gz
./00_fastq/3DS_R2_001.fastq.gz
./cleaned_reads/1BS_R1_001.clean.fastq.gz
./cleaned_reads/1BS_R2_001.clean.fastq.gz
./cleaned_reads/1DS_R1_001.clean.fastq.gz
./cleaned_reads/1DS_R2_001.clean.fastq.gz
./cleaned_reads/2BS_R1_001.clean.fastq.gz
./cleaned_reads/2BS_R2_001.clean.fastq.gz
./cleaned_reads/2DS_R1_001.clean.fastq.gz
./cleaned_reads/2DS_R2_001.clean.fastq.gz
./cleaned_reads/3BS_R1_001.clean.fastq.gz
./cleaned_reads/3BS_R2_001.clean.fastq.gz
./cleaned_reads/3DS_R1_001.clean.fastq.gz
./cleaned_reads/3DS_R2_001.clean.fastq.gz
./reference_genome/Mcap.genome_assembly.fasta
./reference_genome/ref_index.4.ht2
./reference_genome/ref_index.1.ht2
./reference_genome/ref_index.2.ht2
./reference_genome/ref_index.5.ht2
./reference_genome/ref_index.6.ht2
